*{
box-sizing:border-box;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  color: yellow;
  
}
audio { 
  width: 20px; 
  border-radius: 90px;

}

.pacman {
height:100rem ;
}
.fondo{
  background-image: url(../assets/tablleroo.png);
  background-size: 100%;
  background-repeat: no-repeat;

}


.pacmanmotion{
  position: relative;
  animation: pacman 4s;

}
@keyframes pacman {
  0%   {top: 15px;left: 0px;}
  25%  {top: 15px; left: 200px;}
  75%  {top: 85px}
  100% {top: 100px;}

}
